.host-card {
    z-index: 1;
    overflow: hidden;
    transform-style: preserve-3d;
    transform-origin: top center;
    will-change: transform;
    transform: skewX(.001deg);
    transition: transform .35s ease-in-out;
    
    &:hover {
        transform: rotateX(7deg) translateY(-6px);

        &::before {
            opacity: 0.6;
            transform: rotateX(7deg) translateY(-6px) scale(1.05);
        }

        &::after {
            transform: translateY(0%);
        }
    }
}