@model Application.Models.Email.EmailAction;

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Password Reset</title>
</head>
<body>
<div>
    Hey @Model.Username!
    
    Please reset your password by clicking here: <a href="@Model.ActionUrl">Password Reset</a>
</div>
</body>
</html>