@model Application.Models.Email.EmailAction;

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Registration Confirmation</title>
</head>
<body>
<div>
    Thank you for registering @Model.Username!
    
    Please confirm your registration here: <a href="@Model.ActionUrl">Confirm Registration</a>
</div>
</body>
</html>