@using Microsoft.AspNetCore.Components.Web
@namespace GameWeaver.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<!--suppress HtmlRequiredTitleElement -->
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="~/"/>
    <link rel="stylesheet" href="~/css/overrides.css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/gameweaver-shared.css" asp-append-version="true">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="GameWeaver.styles.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
<div class="background-perlin-noise"></div>

@RenderBody()

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@* Custom Javascript Scripts *@
<script src="js/clipboard.js" asp-append-version="true"></script>
<script src="js/scroll.js" asp-append-version="true"></script>
<script src="js/scrollToTop.js" asp-append-version="true"></script>
<script src="js/sounds.js" asp-append-version="true"></script>
<script src="js/download.js" asp-append-version="true"></script>
<script src="js/timezone.js" asp-append-version="true"></script>
<script src="js/ensureImageExists.js" asp-append-version="true"></script>
<script src="js/openExternalUrl.js" asp-append-version="true"></script>

@* BlazorMonaco Scripts *@
<script src="_content/BlazorMonaco/jsInterop.js" asp-append-version="true"></script>
<script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js" asp-append-version="true"></script>
<script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js" asp-append-version="true"></script>

@* Blazor Common Required Scripts *@
<script src="_framework/blazor.server.js" asp-append-version="true"></script>
<script src="_content/MudBlazor/MudBlazor.min.js" asp-append-version="true"></script>

</body>
</html>
